<html ng-app="app">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="icons/x-men.ico" type="image/x-icon">
    <title>TimelineTools</title>
  </head>
  <body ng-controller="DataController as main" ng-style='main.bodyStyle' class="ng-cloak">
    <ul class="collections">
      <li ng-repeat="collection in main.uniqueCollections" class="collection-container" ng-class="{expanded: collection.id === main.expandedCollectionId}">
        <div class="comic-collection z-depth-5 hoverable" ng-style="collection.styles">
          <div class="panel-left">
            <a title="{{collection.title}} cover" ng-click="main.toggleExpandCollection(collection)" class="waves-effect cover-thumbnail">
              <img class="responsive-img" ng-src="http://www.spirton.com/images/comics/{{collection.image}}.jpg"></img>
            </a>
          </div>
          <div class="expanded-panel">
            <!-- <a ng-if="comic.link" class="marvel-unlimited-link" ng-href="{{comic.link}}" title="Open in Marvel Unlimited"></a> -->
            <div class="title">{{collection.title}}</div>
            <div class="date">{{collection.yearPublished}} / {{collection.monthPublished}}</div>
            <div class="collection-comics">
              <ul>
                <li ng-repeat="comic in collection.allCollectionComics track by comic.id">
                  <a title="{{comic.series}} #{{comic.issue}}" ng-click="main.toggleExpandComic(comic)" class="z-depth-5 waves-effect hoverable">
                    <img class="responsive-img" ng-src="http://www.spirton.com/images/comics/{{comic.image}}.jpg" ng-class="{current: comic.id === comicId}"></img>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <ul class="years">
      <li ng-repeat="(year, months) in ::main.dates track by year" class="year">
        {{year}}
        <ul>
          <li ng-repeat="month in ::months track by month.number" class="month" ng-style='month.styles'>{{month.number}}</li>
        </ul>
      </li>
    </ul>
    <ul class="comics">
      <li ng-repeat="(index, label) in ::main.seriesVolumeLabels" ng-style="label.containerStyles" class="series-volume-label-container">
        <div class="series-volume-label truncate" ng-title="{{label.text}}" id="{{label.id}}" ng-style="label.labelStyles" ng-class="{stickyLeft: label.labelClasses.stickyLeft}" ng-if="label.visible">{{label.text}}</div>
      </li>
      <li ng-repeat="comic in main.comics track by comic.id" class="comic-container" ng-class="{expanded: comic.id === main.expandedComicId}" ng-style="comic.containerStyles">
        <div class="scroll-anchor"></div>
        <div class="comic z-depth-5 hoverable" ng-style="comic.styles">
          <div class="panel-left">
            <a title="#{{comic.issue}}" ng-click="main.toggleExpandComic(comic)" class="waves-effect cover-thumbnail" data-toggle="tooltip" data-container="body" data-placement="bottom">
              <img class="responsive-img" ng-src="http://www.spirton.com/images/comics/{{comic.image}}.jpg"></img>
            </a>
            <ul class="pagination">
              <li class="waves-effect" ng-class="{disabled: !main.prevCollectionFirstComic}" data-toggle="tooltip" data-original-title="{{main.prevCollection.title}}" data-placement="bottom">
                <a ng-click="main.toggleExpandComic(main.prevCollectionFirstComic)">
                  <i class="material-icons">arrow_backward</i>
                </a>
              </li>
              <li class="waves-effect" ng-class="{disabled: !main.prevComic}" data-toggle="tooltip" data-original-title="{{main.prevComic.series}} #{{main.prevComic.issue}}" data-placement="bottom">
                <a ng-click="main.toggleExpandComic(main.prevComic)">
                  <i class="material-icons">chevron_left</i>
                </a>
              </li>
              <li class="waves-effect" ng-class="{disabled: !main.nextComic }" data-toggle="tooltip" data-original-title="{{main.nextComic.series}} #{{main.nextComic.issue}}" data-placement="bottom">
                <a ng-click="main.toggleExpandComic(main.nextComic)">
                  <i class="material-icons">chevron_right</i>
                </a>
              </li>
              <li class="waves-effect" ng-class="{disabled: !main.nextCollectionFirstComic }" data-toggle="tooltip" data-original-title="{{main.nextCollection.title}}" data-placement="bottom">
                <a ng-click="main.toggleExpandComic(main.nextCollectionFirstComic)">
                  <i class="material-icons">arrow_forward</i>
                </a>
              </li>
            </ul>
          </div>
          <div class="expanded-panel">
            <a ng-if="comic.link" class="marvel-unlimited-link" ng-href="{{comic.link}}" title="Open in Marvel Unlimited"></a>
            <div class="series">{{comic.series}} #{{comic.issue}}</div>
            <div class="title" ng-repeat="title in comic.titles">{{title}}</div>
            <div class="date">{{comic.yearPublished}} / {{comic.monthPublished}}</div>
            <div class="collection-comics">
              <div class="collection-title">{{main.expandedCollection.title}}:</div>
              <ul>
                <li ng-repeat="comic in main.expandedCollection.allCollectionComics track by comic.id">
                  <a title="{{comic.series}} #{{comic.issue}}" ng-click="main.toggleExpandComic(comic)" class="z-depth-5 waves-effect hoverable">
                    <img class="responsive-img" ng-src="http://www.spirton.com/images/comics/{{comic.image}}.jpg" ng-class="{current: comic.id === main.expandedComicId}"></img>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/angular-md5@0.1.10/angular-md5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="database/comics.js" charset="utf-8"></script>
    <script src="database/series.js" charset="utf-8"></script>
    <script src="database/collections.js" charset="utf-8"></script>
    <script src="config.js" charset="utf-8"></script>
    <script src="app/app.js" charset="utf-8"></script>
  </body>
</html>
