<html ng-app="app">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="style.css">
    <title>TimelineTools</title>
  </head>
  <body ng-controller="DataController as main" ng-style='main.bodyStyle' class="ng-cloak">
    <ul class="years">
      <li ng-repeat="(year, months) in ::main.dates track by year" class="year">
        {{year}}
        <ul>
          <li ng-repeat="month in ::months track by month.number" class="month" ng-style='month.styles'>{{month.number}}</li>
        </ul>
      </li>
    </ul>
    <ul class="collections">
      <li ng-repeat="collection in ::main.collections track by collection.id" class="comic-collection" ng-style="collection.styles" ng-class="{expandedCollection: collection.id === main.expandedCollection}">
      </li>
    </ul>
    <ul class="comics">
      <li ng-repeat="comic in ::main.comics track by comic.id" class="comic-container", ng-class="{expanded: comic.id === main.expandedComic}" ng-style="comic.containerStyles">
        <div class="scroll-anchor"></div>
        <div class="comic z-depth-5" ng-style="comic.styles">
          <a title="{{comic.series}} #{{comic.issue}}" ng-click="main.toggleExpandComic(comic)" class="waves-effect cover-thumbnail">
            <img class="responsive-img" ng-src="http://www.spirton.com/images/comics/{{comic.image}}.jpg"></img>
          </a>
          <div class="expanded-panel">
            <div class="series">{{comic.series}} #{{comic.issue}}</div>
            <div class="title" ng-repeat="title in ::comic.title">{{title}}</div>
            <div class="datePublished">{{comic.yearPublished}} / {{comic.monthPublished}}</div>
          </div>
        </div>
      </li>
    </ul>
    <script src="dist/bundle.js" charset="utf-8"></script>
  </body>
</html>