:root {
  --month-width: 55px;
  --expanded-width: 900px;
  --expanded-width-panel-left: 200px;
  --cover-aspect-ratio: 1.55;
  --expanded-cover-height: 310px;
  --collection-thumbnails-height: 97px;
  --initial-body-width: 4000px;
}

* {
  z-index: 0;
}

body {
  background: hsl(216, 8%, 25%);
  overflow: auto;
  padding: 20px;
  width: var(--initial-body-width);
}

#app {
  display: none;
}

#pre-app {
  width: var(--initial-body-width);
  position: absolute;
  top: 5px;
}

#years {
  height: 0;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.year {
  display: inline-block;
  color: #ccc;
}

.month {
  display: inline-block;
  text-indent: 22px;
}

.collections {
  margin-bottom: 20px;
}

.comics,
.series-volume-labels,
.collections {
  position: relative;
  display: block;
}

.comic-container,
.series-volume-label-container {
  position: absolute;
}

.series-volume-label-container {
  margin-top: calc(var(--month-width) * 0.29);
  z-index: 2;
}

.popover {
  display: inline-block;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%);
  overflow: visible;
  transition: top 0.3s, visibility 0.2s, opacity 0.2s;
  min-width: 130px;
  text-align: center;
}

li:hover > .popover {
  visibility: visible;
  opacity: 1;
  top: calc(100% + 5px);
}

li:hover {
  z-index: 1;
}

.expanded > .popover {
  display: none;
}

.tooltip-inner,
.series-volume-label,
.popover > div {
  background-color: #222;
  color: #ccc;
  padding: 3px 8px;
  border-radius: 8px;
  font-size: 12px;
}

.popover > div {
  max-width: 130px;
  display: inline-block;
}

.fixed-action-btn li {
  position: relative;
}

.series-volume-label {
  display: inline-block;
  text-align: right;
}

.series-volume-label.stickyLeft {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  text-align: left;
}

.series-volume-label-container,
.comic-container,
.comic {
  height: var(--month-width);
}

.comic-container,
.comic {
  width: var(--month-width);
}

.comic-container.expanded {
  display: block;
  z-index: 3;
  width: unset;
  height: unset;
}

.comic {
  background: #1A1C1C;
  border-radius: 50%;
}

.collection-container {
  width: calc(var(--expanded-cover-height) / var(--cover-aspect-ratio));
  transition: width 1s;
  margin-right: 10px;
}

.expanded .comic,
.collection-container.expanded {
  width: var(--expanded-width);
  border: none;
  border-radius: initial;
  height: auto;
}

.comic-container .series {
  font-size: 130%;
  margin-right: 50px;
}

.comic-container .marvel-unlimited-link {
  background-image: url('images/marvel-unlimited.png');
  background-size: contain;
  display: block;
  width: 40px;
  height: 40px;
  float: right;
  margin-right: 5px;
}

.comic-container > a {
  position: relative;
  top: 0;
}

.collection-comics {
  margin: 5px 5px 5px 0;
  padding: 5px 5px 5px 10px;
  background: hsla(0, 0%, 100%, 0.1);
}

.collection-comics li {
  position: relative;
  display: inline-block;
  padding: 5px 0;
  margin-right: 10px;
}

.collection-comics img {
  height: var(--collection-thumbnails-height);
  width: calc(var(--collection-thumbnails-height) / var(--cover-aspect-ratio));
}

.collection-comics img.current {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 3px #1A1C1C solid;
}

.cover-thumbnail {
  display: block;
}

.cover-thumbnail img {
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;

  width: calc(var(--month-width) * 0.9);
  height: calc(var(--month-width) * 0.9);
  margin: calc(var(--month-width) * 0.05);
}

.expanded .comic .panel-left,
.comic-collection .panel-left {
  display: inline-block;
  vertical-align: top;
  width: calc(var(--expanded-width) * 0.24);
}

.expanded .comic .cover-thumbnail img,
.comic-collection .cover-thumbnail img {
  border-radius: initial;
  width: calc(var(--expanded-cover-height) / var(--cover-aspect-ratio));
  height: var(--expanded-cover-height);
}

.comic-container .expanded-panel {
  display: none;
}

.expanded-panel {
  left: 0;
  width: calc(var(--expanded-width) * 0.75);
  background: inherit;
  margin-top: 10px;
}

.collection-container,
.expanded .expanded-panel {
  display: inline-block;
}

.collection-container {
  overflow-x: hidden;
  position: relative;
}

.collection-container .expanded-panel {
  position: absolute;
  left: calc(var(--expanded-width) * 0.24);
  top: 0;
}

.expanded-panel .row {
  margin-bottom: 0;
}

.expanded-panel img {
  max-width: 100%;
}

.stickyTop,
.stickyLeft,
.stickyRight,
.stickyBottom {
  position: fixed;
}

.stickyTop {
  top: 0;
}

.stickyLeft {
  left: 0;
}

.stickyRight {
  right: 0;
}

.stickyBottom {
  bottom: 0;
}

.scroll-anchor {
  width: var(--expanded-width);
}

.scroll-to-comic-button {
  vertical-align: text-top;
  cursor: pointer;
  display: inline-block;
  margin-left: 15px;
}

/**
 * Loader from https://codepen.io/rbv912/pen/dYbqLQ
 */

.loader {
  position: relative;
  top: -55px;
  height: 55px;
  width: 55px;
  -webkit-animation: loader-1 4.8s linear infinite;
  animation: loader-1 4.8s linear infinite;
}
@-webkit-keyframes loader-1 {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader-1 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loader span {
  display: block;
  position: absolute;
  top: 0; left: 0;
  bottom: 0; right: 0;
  margin: auto;
  height: 32px;
  width: 32px;
  clip: rect(0, 32px, 32px, 16px);
  -webkit-animation: loader-2 1.2s linear infinite;
  animation: loader-2 1.2s linear infinite;
}
@-webkit-keyframes loader-2 {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(220deg); }
}
@keyframes loader-2 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(220deg); }
}
.loader span::after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  bottom: 0; right: 0;
  margin: auto;
  height: 32px;
  width: 32px;
  clip: rect(0, 32px, 32px, 16px);
  border: 3px solid #ccc;
  border-radius: 50%;
  -webkit-animation: loader-3 1.2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
  animation: loader-3 1.2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-3 {
  0% { -webkit-transform: rotate(-140deg); }
  50% { -webkit-transform: rotate(-160deg); }
  100% { -webkit-transform: rotate(140deg); }
}
@keyframes loader-3 {
  0% { transform: rotate(-140deg); }
  50% { transform: rotate(-160deg); }
  100% { transform: rotate(140deg); }
}

/**
 * Override Bootstrap styles
 */
.pagination {
  margin: 5px 0 8px calc(var(--month-width) * 0.05);
  display: none;
  cursor: default;
  width: var(--expanded-width-panel-left);
}

.pagination > li {
  overflow: visible;
}

.pagination > li > a,
.pagination > li > a:hover {
  background-color: unset;
  border: none;
  width: 47px;
  color: unset;
}

.pagination > li > a:hover {
  color: #000;
}

.expanded .pagination {
  display: block;
}

.pagination > .disabled > a,
.pagination > .disabled > a:hover {
  background-color: unset;
}

.tooltip.show {
  opacity: 1;
}

.tooltip.show .arrow::before {
  border-bottom-color: #222;
}
