:root {
  --month-width: 55px;
  --common-padding: 20px;
  --expanded-height: 200px;
}

* {
  z-index: 0;
}

body {
  background: hsl(216, 8%, 25%);
  color: #ccc;
  overflow: auto;
  padding: 20px;
}

.years {
  padding: var(--common-padding);
}

.year {
  display: inline-block;
}

.month {
  display: inline-block;
  text-indent: 22px;
}

.comics {
  position: relative;
}

.comic-container {
  position: absolute;
  display: block;
}

.comics .comic-container.expanded {
  z-index: 1;
}

.comic {
  width: var(--month-width);
  height: var(--month-width);
  background: #1A1C1C;
  border-radius: 50%;
}

.expanded .comic {
  z-index: 1;
  width: auto;
  border-radius: initial;
  height: auto;
}

.comic-container .series {
  background: rgba(27, 27, 27, 0.5);
  margin-top: 5px;
}

.comic-container > a {
  position: relative;
  top: 0;
}

.collection-comics li {
  display: inline-block;
  padding: 5px;
}

.collection-comics img {
  height: 100px;
}

.cover-thumbnail {
  display: block;
}

.cover-thumbnail img {
  overflow: hidden;
  object-fit: cover;
  transition: height 0.5s, width 0.5s, border-radius 0.5s;
  border-radius: 50%;

  width: calc(var(--month-width) * 0.9);
  height: calc(var(--month-width) * 0.9);
  margin: calc(var(--month-width) * 0.05);
}

.expanded .comic .cover-thumbnail {
  display: inline-block;
  vertical-align: top;
}

.expanded .comic .cover-thumbnail img {
  border-radius: initial;
  width: 200px;
  height: auto;
}

.expanded-panel {
  display: none;
  left: 0;
  width: 600px;
  transition: max-height 0.5s, max-width 0.5s, height 0.5s, width 0.5s;
  background: inherit;
}

.expanded .expanded-panel {
  display: inline-block;
}

.expanded-panel .row {
  margin-bottom: 0;
}

.expanded-panel img {
  max-width: 100%;
}

.sticky-top {
  position: fixed;
  top: 0;
}

.sticky-left {
  position: fixed;
  left: 0;
}

.sticky-right {
  position: fixed;
  right: 0;
}

.sticky-bottom {
  position: fixed;
  bottom: 0;
}