:root {
  --month-width: 55px;
  --common-padding: 20px;
  --expanded-width: 200px;
}

* {
  z-index: 0;
}

body {
  background: #1E2023;
  color: #ccc;
  overflow: auto;
  padding: 20px;
}

.years {
  padding: var(--common-padding);
}

.year {
  display: inline-block;
}

.month {
  display: inline-block;
  width: 60px;
  text-align: center;
}

.comics {
  position: relative;
}

.comic {
  position: absolute;
  display: block;
  width: var(--month-width);
  background: #1A1C1C;
  transition: top 0.5s, width 0.5s;
}

.comic > div {
  padding: 8px;
  margin: 0 5px;
}

.comic .series {
  background: rgba(27, 27, 27, 0.5);
  margin-top: 5px;
}

.comic .series,
.comic .title,
.comic .official-link {
  display: none;
}

.comic.expanded {
  z-index: 1;
  width: 200px;
}

.comic > div,
.comic > a {
  position: relative;
  top: 0;
  transition: top 0.5s;
}

.comic.expanded div {
  display: block;
}

.cover-thumbnail {
  display: block;
  border-radius: 50%;
  transition: border-radius 0.5s;
}

.cover-thumbnail img {
  width: var(--month-width);
  height: var(--month-width);
  margin: 0 auto;
  display: block;
  transition: max-height 0.5s, max-width 0.5s, height 0.5s, width 0.5s;
  overflow: hidden;
  object-fit: fill;
}

.comic.expanded .cover-thumbnail {
  border-radius: 0%;
}

.comic.expanded .cover-thumbnail img {
  height: 300px;
  width: var(--expanded-width);
}