<div id="info" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Info & Credits</h4>
    <p>This tool depends on data from others. Some of the most frequent sources of that data are:</p>
    <ul>
      <li>
        <h5><a href="http://notahoaxnotadream.blogspot.co.nz/p/x-men-collected-editions-chart.html">NOT A HOAX! NOT A DREAM!</a></h5>
        We rely on the reviews on this blog to know which order the comics appear in within collections.
      </li>
      <li>
        <h5><a href="http://www.comicsbackissues.com/comic-book-reading-order/x-men-read-order-chronology/#order">Comics Back Issues</a></h5>
        We rely on this to track and order crossovers.
      </li>
      <li>
        <h5><a href="http://www.marvel.com">Marvel</a></h5>
        We rely on the Marvel API to display the link to the online version of the comics.
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <a (click)="toggleInfoModal()" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large red"><i class="large material-icons">menu</i></a>
  <ul>
    <li>
      <div class="popover"><div>Toggle collections view</div></div>
      <a class="btn-floating green" [ngClass]="{green: isShowCollections, grey: !isShowCollections}" (click)="toggleShowCollections()">
        <i class="material-icons">library_books</i>
      </a>
    </li>
    <li>
      <div class="popover"><div>View information and credits</div></div>
      <a (click)="toggleInfoModal()" class="btn-floating blue">
        <i class="material-icons">info</i>
      </a>
    </li>
  </ul>
</div>
<ul class="collections" *ngIf="isShowCollections">
  <li *ngFor="let collection of uniqueCollections" class="collection-container" [ngClass]="{expanded: collection.id === expandedCollectionId}">
    <div class="comic-collection z-depth-5 hoverable" [ngStyle]="collection.styles" *ngIf="collection.title !== 'Uncollected'">
      <div class="panel-left">
        <a (click)="toggleExpandCollection(collection)" class="waves-effect cover-thumbnail">
          <img
              class="responsive-img"
              [srcset]="
                  'https://api.rethumb.com/v1/width/322/https://www.xmentimeline.com/images/covers/' + collection.image + '.jpg 2x,
                  https://api.rethumb.com/v1/width/161/https://www.xmentimeline.com/images/covers/' + collection.image + '.jpg 1x'"
              [src]="'https://api.rethumb.com/v1/width/161/https://www.xmentimeline.com/images/covers/' + collection.image + '.jpg'"
          >
        </a>
      </div>
      <div class="expanded-panel">
        <div class="title">{{collection.title}}</div>
        <div class="date">{{collection.yearPublished}} / {{collection.monthPublished}}</div>
        <div class="collection-comics">
          <ul>
            <li *ngFor="let comic of collection.allCollectionComics; trackBy: trackByItemId">
              <div class="popover"><div>{{comic.series}} #{{comic.issue}}</div></div>
              <a title="{{comic.series}} #{{comic.issue}}" (click)="toggleExpandComic(comic, true)" class="z-depth-5 waves-effect hoverable">
                <img
                    class="responsive-img"
                    [ngClass]="{current: comic.id === comicId}"
                    [srcset]="
                        'https://api.rethumb.com/v1/width/400/https://www.xmentimeline.com/images/covers/' + comic.image + '.jpg 2x,
                        https://api.rethumb.com/v1/width/200/https://www.xmentimeline.com/images/covers/' + comic.image + '.jpg 1x'"
                    [src]="'https://api.rethumb.com/v1/width/200/https://www.xmentimeline.com/images/covers/' + comic.image + '.jpg'"
                >
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </li>
</ul>
<div class="search-container" [ngClass]="{hasText: searchText}">
  <i class="material-icons search-toggle">search</i>
  <input type="text" [(ngModel)]="searchText" (ngModelChange)="postSearchActions(searchText)" placeholder="Search" />
  <ul class="searchResults" *ngIf="searchText">
    <li *ngFor="let item of itemsToSearch | filter: searchText | limitTo">
      <a (click)="search(item)" class="waves-effect hoverable cover-thumbnail">
        <img
          class="responsive-img"
          [srcset]="
              'https://api.rethumb.com/v1/square/100/https://www.xmentimeline.com/images/covers/' + item.image + '.jpg 2x,
              https://api.rethumb.com/v1/square/50/https://www.xmentimeline.com/images/covers/' + item.image + '.jpg 1x'"
          [src]="'https://api.rethumb.com/v1/square/50/https://www.xmentimeline.com/images/covers/' + item.image + '.jpg'"
        >
        {{item.displayText}}
      </a>
    </li>
  </ul>
</div>
<ul class="years">
  <li *ngFor="let year of dates" class="year"> <!-- track by year -->
    <span>{{year.year}}</span>
    <ul>
      <li *ngFor="let month of year.months" class="month" [ngStyle]='month.styles'>{{month.number}}</li> <!-- track by month.number -->
    </ul>
  </li>
</ul>
<ul class="comics">
  <li *ngFor="let label of seriesVolumeLabels; let index = index" [ngStyle]="label.containerStyles" class="series-volume-label-container">
    <div class="series-volume-label" id="{{label.id}}">{{label.text}}</div>
  </li>
  <li *ngFor="let comic of comics; trackBy: trackByItemId" class="comic-container" [ngClass]="{expanded: comic.id === expandedComicId}" [ngStyle]="comic.containerStyles">
    <div class="scroll-anchor"></div>
    <div class="popover"><div>#{{comic.issue}}</div></div>
    <div class="comic z-depth-5 hoverable" [ngStyle]="comic.styles" [ngClass]="{stickyTop: comic.classes.stickyTop, stickyRight: comic.classes.stickyRight, stickyBottom: comic.classes.stickyBottom, stickyLeft: comic.classes.stickyLeft}">
      <div class="panel-left">
        <a *ngIf="comic.id !== expandedComicId" (click)="toggleExpandComic(comic)" class="waves-effect cover-thumbnail" id="expand-{{comic.id}}">
          <img
              *ngIf="comic.visible"
              class="responsive-img"
              [srcset]="
                  'https://api.rethumb.com/v1/square/100/https://www.xmentimeline.com/images/covers/' + comic.image + '.jpg 2x,
                  https://api.rethumb.com/v1/square/50/https://www.xmentimeline.com/images/covers/' + comic.image + '.jpg 1x'"
              [src]="'https://api.rethumb.com/v1/square/50/https://www.xmentimeline.com/images/covers/' + comic.image + '.jpg'"
          >
        </a>
        <span class="cover-thumbnail" *ngIf="comic.id === expandedComicId">
          <img
              class="responsive-img materialboxed"
              src="https://www.xmentimeline.com/images/covers/{{comic.image}}.jpg"
          >
        </span>
        <ul class="pagination" *ngIf="comic.id === expandedComicId">
          <li class="waves-effect" [ngClass]="{disabled: !prevCollectionFirstComic}">
            <div class="popover" *ngIf="prevCollectionFirstComic"><div>{{prevCollection.title}}</div></div>
            <a (click)="toggleExpandComic(prevCollectionFirstComic)">
              <i class="material-icons">arrow_backward</i>
            </a>
          </li><!--
          --><li class="waves-effect" [ngClass]="{disabled: !prevComic}">
            <div class="popover" *ngIf="prevComic"><div>{{prevComic.series}} #{{prevComic.issue}}</div></div>
            <a (click)="toggleExpandComic(prevComic)" class="button-previous-comic">
              <i class="material-icons">chevron_left</i>
            </a>
          </li><!--
          --><li class="waves-effect" [ngClass]="{disabled: !nextComic}">
            <div class="popover" *ngIf="nextComic"><div>{{nextComic.series}} #{{nextComic.issue}}</div></div>
            <a (click)="toggleExpandComic(nextComic)" class="button-next-comic">
              <i class="material-icons">chevron_right</i>
            </a>
          </li><!--
          --><li class="waves-effect" [ngClass]="{disabled: !nextCollectionFirstComic}">
            <div class="popover" *ngIf="nextCollectionFirstComic"><div>{{nextCollection.title}}</div></div>
            <a (click)="toggleExpandComic(nextCollectionFirstComic)">
              <i class="material-icons">arrow_forward</i>
            </a>
          </li>
        </ul>
      </div>
      <div class="expanded-panel" *ngIf="comic.id === expandedComicId">
        <a *ngIf="comic.link" class="marvel-unlimited-link" href="{{comic.link}}" title="Open in Marvel Unlimited"></a>
        <div class="series">
          {{comic.series}} #{{comic.issue}}
          <a (click)="scrollToComic(comic.id)" tabindex="0" title="Scroll to this comic's position on the page" class="scroll-to-comic-button">
            <i class="material-icons">near_me</i>
          </a>
        </div>
        <div class="title" *ngFor="let title of comic.titles">{{title}}</div>
        <div class="date">{{comic.yearPublished}} / {{comic.monthPublished}}</div>
        <div class="collection-comics">
          <div class="collection-title">{{comic.collection.title}}:</div>
          <ul>
            <li *ngFor="let collectionComic of comic.collection.allCollectionComics; trackBy: trackByItemId">
              <div class="popover"><div>{{collectionComic.series}} #{{collectionComic.issue}}</div></div>
              <a (click)="toggleExpandComic(collectionComic)" class="z-depth-5 waves-effect hoverable">
                <img
                    class="responsive-img"
                    [ngClass]="{current: collectionComic.id === expandedComicId}"
                    [srcset]="
                        'https://api.rethumb.com/v1/width/400/https://www.xmentimeline.com/images/covers/' + collectionComic.image + '.jpg 2x,
                        https://api.rethumb.com/v1/width/200/https://www.xmentimeline.com/images/covers/' + collectionComic.image + '.jpg 1x'"
                    [src]="'https://api.rethumb.com/v1/width/200/https://www.xmentimeline.com/images/covers/' + collectionComic.image + '.jpg'"
                >
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </li>
</ul>
