<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="toggleShowCollections()" class="toggle-collections-btn">
    <mat-icon>library_books</mat-icon>
    Toggle collections view
  </button>
  <button mat-menu-item (click)="toggleInfoModal()" class="toggle-info-btn">
    <mat-icon>info</mat-icon>
    View information and credits
  </button>
</mat-menu>
<button mat-fab [matMenuTriggerFor]="menu" class="floating-menu">
  <mat-icon>more_vert</mat-icon>
</button>
<ul class="collections" *ngIf="isShowCollections">
  <li *ngFor="let collection of uniqueCollections" class="collection-container" [ngClass]="{expanded: collection.id === expandedCollectionId}">
    <div class="comic-collection " [ngStyle]="collection.styles" *ngIf="collection.title !== 'Uncollected'">
      <div class="panel-left">
        <a (click)="toggleExpandCollection(collection)" class="cover-thumbnail">
          <img
              class="responsive-img"
              [srcset]="
                  'https://api.rethumb.com/v1/width/322/https://www.xmentimeline.com/images/covers/' + collection.image + '.jpg 2x,
                  https://api.rethumb.com/v1/width/161/https://www.xmentimeline.com/images/covers/' + collection.image + '.jpg 1x'"
              [src]="'https://api.rethumb.com/v1/width/161/https://www.xmentimeline.com/images/covers/' + collection.image + '.jpg'"
          >
        </a>
      </div>
      <div class="expanded-panel">
        <div class="title">{{collection.title}}</div>
        <div class="date">{{collection.yearPublished}} / {{collection.monthPublished}}</div>
        <div class="collection-comics">
          <ul>
            <li *ngFor="let comic of collection.allCollectionComics; trackBy: trackByItemId">
              <div class="popover"><div>{{comic.series}} #{{comic.issue}}</div></div>
              <a title="{{comic.series}} #{{comic.issue}}" (click)="toggleExpandComic(comic, true)">
                <img
                    class="responsive-img"
                    [ngClass]="{current: comic.id === comicId}"
                    [srcset]="
                        'https://api.rethumb.com/v1/width/400/https://www.xmentimeline.com/images/covers/' + comic.image + '.jpg 2x,
                        https://api.rethumb.com/v1/width/200/https://www.xmentimeline.com/images/covers/' + comic.image + '.jpg 1x'"
                    [src]="'https://api.rethumb.com/v1/width/200/https://www.xmentimeline.com/images/covers/' + comic.image + '.jpg'"
                >
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </li>
</ul>
<div class="search-container" [ngClass]="{hasText: searchText}">
  <i class="material-icons search-toggle">search</i>
  <input type="text" [(ngModel)]="searchText" (ngModelChange)="postSearchActions(searchText)" placeholder="Search" />
  <ul class="searchResults" *ngIf="searchText">
    <li *ngFor="let item of itemsToSearch | filter: searchText | limitTo" class="search-result">
      <button (click)="search(item)" class="cover-thumbnail">
        <img
          class="responsive-img"
          [srcset]="
              'https://api.rethumb.com/v1/square/100/https://www.xmentimeline.com/images/covers/' + item.image + '.jpg 2x,
              https://api.rethumb.com/v1/square/50/https://www.xmentimeline.com/images/covers/' + item.image + '.jpg 1x'"
          [src]="'https://api.rethumb.com/v1/square/50/https://www.xmentimeline.com/images/covers/' + item.image + '.jpg'"
        >
        <span class="search-result-text">{{item.displayText}}</span>
      </button>
    </li>
  </ul>
</div>
<ul class="years">
  <li *ngFor="let year of dates" class="year"> <!-- track by year -->
    <span>{{year.year}}</span>
    <ul>
      <li *ngFor="let month of year.months" class="month" [ngStyle]='month.styles'>{{month.number}}</li> <!-- track by month.number -->
    </ul>
  </li>
</ul>
<ul class="comics">
  <li *ngFor="let label of seriesVolumeLabels; let index = index" [ngStyle]="label.containerStyles" class="series-volume-label-container">
    <div class="series-volume-label" id="{{label.id}}">{{label.text}}</div>
  </li>
  <li *ngFor="let comic of comics; trackBy: trackByItemId" class="comic-container" [ngClass]="{expanded: comic.id === expandedComicId}" [ngStyle]="comic.containerStyles">
    <div class="scroll-anchor"></div>
    <div class="popover"><div>#{{comic.issue}}</div></div>
    <div class="comic " [ngStyle]="comic.styles" [ngClass]="comic.classes">
      <div class="panel-left">
        <a *ngIf="comic.id !== expandedComicId" (click)="toggleExpandComic(comic)" class="cover-thumbnail" id="expand-{{comic.id}}">
          <img
              *ngIf="comic.visible"
              class="responsive-img"
              [srcset]="
                  'https://api.rethumb.com/v1/square/100/https://www.xmentimeline.com/images/covers/' + comic.image + '.jpg 2x,
                  https://api.rethumb.com/v1/square/50/https://www.xmentimeline.com/images/covers/' + comic.image + '.jpg 1x'"
              [src]="'https://api.rethumb.com/v1/square/50/https://www.xmentimeline.com/images/covers/' + comic.image + '.jpg'"
          >
        </a>
        <span class="cover-thumbnail" *ngIf="comic.id === expandedComicId">
          <button (click)="toggleFullscreen()" class="toggle-full-screen">
            <img src="https://www.xmentimeline.com/images/covers/{{comic.image}}.jpg">
          </button>
        </span>
        <ol class="pagination" *ngIf="comic.id === expandedComicId">
          <li>
            <div class="popover previous-collection-title" *ngIf="prevCollectionFirstComic"><div>{{prevCollection.title}}</div></div>
            <button (click)="toggleExpandComic(prevCollectionFirstComic)" class="button-previous-collection" mat-button [disabled]="!prevCollectionFirstComic">
              <mat-icon>arrow_backward</mat-icon>
            </button>
          </li><!--
          --><li>
            <div class="popover previous-comic-title" *ngIf="prevComic"><div>{{prevComic.series}} #{{prevComic.issue}}</div></div>
            <button (click)="toggleExpandComic(prevComic)" class="button-previous-comic" mat-button [disabled]="!prevComic">
              <mat-icon>chevron_left</mat-icon>
            </button>
          </li><!--
          --><li>
            <div class="popover next-comic-title" *ngIf="nextComic"><div>{{nextComic.series}} #{{nextComic.issue}}</div></div>
            <button (click)="toggleExpandComic(nextComic)" class="button-next-comic" mat-button [disabled]="!nextComic">
              <mat-icon>chevron_right</mat-icon>
            </button>
          </li><!--
          --><li>
            <div class="popover next-collection-title" *ngIf="nextCollectionFirstComic"><div>{{nextCollection.title}}</div></div>
            <button (click)="toggleExpandComic(nextCollectionFirstComic)" class="button-next-collection" mat-button [disabled]="!nextCollectionFirstComic">
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </li>
        </ol>
      </div>
      <div class="expanded-panel" *ngIf="comic.id === expandedComicId">
        <a *ngIf="comic.link" class="marvel-unlimited-link" href="{{comic.link}}">
          <div class="popover"><div>Open in Marvel Unlimited</div></div>
        </a>
        <button (click)="scrollToComic(comic.id)" class="scroll-to-comic-button" mat-mini-fab>
          <div class="popover"><div>Scroll to this comic</div></div>
          <mat-icon>near_me</mat-icon>
        </button>
        <div class="series">
          {{comic.series}} #{{comic.issue}}
        </div>
        <div class="title" *ngFor="let title of comic.titles">{{title}}</div>
        <div class="date">{{comic.yearPublished}} / {{comic.monthPublished}}</div>
        <div class="collection-comics">
          <div class="collection-title">{{comic.collection.title}}:</div>
          <ul>
            <li *ngFor="let collectionComic of comic.collection.allCollectionComics; trackBy: trackByItemId">
              <div class="popover"><div>{{collectionComic.series}} #{{collectionComic.issue}}</div></div>
              <button (click)="toggleExpandComic(collectionComic)" mat-button>
                <img
                    class="responsive-img"
                    [ngClass]="{current: collectionComic.id === expandedComicId}"
                    [srcset]="
                        'https://api.rethumb.com/v1/width/400/https://www.xmentimeline.com/images/covers/' + collectionComic.image + '.jpg 2x,
                        https://api.rethumb.com/v1/width/200/https://www.xmentimeline.com/images/covers/' + collectionComic.image + '.jpg 1x'"
                    [src]="'https://api.rethumb.com/v1/width/200/https://www.xmentimeline.com/images/covers/' + collectionComic.image + '.jpg'"
                >
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </li>
</ul>
