<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="toggleShowCollections()" class="toggle-collections-btn">
    <mat-icon>library_books</mat-icon>
    Toggle collections view
  </button>
  <button mat-menu-item (click)="toggleReadingOrder()" class="toggle-display-order-btn">
    <mat-icon [ngClass]="!isShowReadingOrder ? 'selected' : 'unselected'">scatter_plot</mat-icon>
    <mat-icon [ngClass]="isShowReadingOrder ? 'selected' : 'unselected'">linear_scale</mat-icon>
      <span [ngClass]="{unselected: !isShowReadingOrder}">View collection order</span>
      <span [ngClass]="{unselected: isShowReadingOrder}">View reading order</span>
  </button>
  <button mat-menu-item (click)="toggleInfoModal()" class="toggle-info-btn">
    <mat-icon>info</mat-icon>
    View information and credits
  </button>
</mat-menu>
<button mat-fab [matMenuTriggerFor]="menu" class="floating-menu" *ngIf="!expandedComicId">
  <mat-icon>more_vert</mat-icon>
</button>
<ul class="collections" *ngIf="isShowCollections">
  <li *ngFor="let collection of uniqueCollections; let i = index" class="collection-container {{ 'collection-container-' + collection.id }}" [ngClass]="{ expanded: collection.id === expandedCollectionId }">
    <div class="comic-collection" [ngStyle]="collection.styles" *ngIf="collection.title !== 'Uncollected'">
      <div class="panel-left">
        <button (click)="toggleExpandCollection(collection)" class="cover-thumbnail" id="expand-{{collection.id}}">
          <img
            *ngIf="collection.visible"
            [src]="'assets/covers/' + collection.image + '.jpg'"
          >
        </button>
        <ol class="pagination">
          <li>
            <div class="popover over previous-collection-title" *ngIf="uniqueCollections[i - 1]"><div>{{uniqueCollections[i - 1].title}}</div></div>
            <button (click)="toggleExpandCollection(uniqueCollections[i - 1])" class="button-previous-collection" mat-button [disabled]="!uniqueCollections[i - 1]">
              <mat-icon>arrow_backward</mat-icon>
            </button>
          </li><!--
          --><li>
            <div class="popover over next-collection-title" *ngIf="uniqueCollections[i + 1]"><div>{{uniqueCollections[i + 1].title}}</div></div>
            <button (click)="toggleExpandCollection(uniqueCollections[i + 1])" class="button-next-collection" mat-button [disabled]="!uniqueCollections[i + 1]">
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </li>
        </ol>
      </div>
      <div class="expanded-panel" *ngIf="collection.id === expandedCollectionId">
        <button (click)="toggleExpandCollection()" class="right-aligned-button" mat-mini-fab>
          <div class="popover"><div>Close this panel</div></div>
          <mat-icon>close</mat-icon>
        </button>
        <div class="title">{{collection.title}}</div>
        <div class="date">{{collection.yearPublished}} / {{collection.monthPublished}}</div>
        <div class="collection-comics">
          <ol>
            <li *ngFor="let comic of collection.allCollectionComics; trackBy: trackByItemId">
              <div class="popover"><div>{{comic.series}} #{{comic.issue}}</div></div>
              <button (click)="toggleExpandComic(comic, true)">
                <img [src]="'assets/covers/' + comic.image + '.jpg'">
              </button>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </li>
</ul>
<div class="search-container" [ngClass]="{hasText: searchText}">
  <i class="material-icons search-toggle">search</i>
  <input type="text" [(ngModel)]="searchText" (ngModelChange)="postSearchActions(searchText)" placeholder="Search" />
  <ul class="searchResults" *ngIf="searchText">
    <li *ngFor="let item of itemsToSearch | filter: searchText | limitTo" class="search-result">
      <button (click)="search(item)" class="cover-thumbnail">
        <img
          [src]="'assets/covers/' + item.image + '.jpg'"
        >
        <span class="search-result-text">{{item.displayText}}</span>
      </button>
    </li>
  </ul>
</div>
<ul class="years" *ngIf="!isShowReadingOrder">
  <li *ngFor="let year of dates" class="year"> <!-- track by year -->
    <span>{{year.year}}</span>
    <ul>
      <li *ngFor="let month of year.months" class="month" [ngStyle]='month.styles'>{{month.number}}</li> <!-- track by month.number -->
    </ul>
  </li>
</ul>
<ol class="comics-container">
  <li *ngFor="let comic of (isShowReadingOrder ? comicsInReadingOrder : comics); trackBy: trackByItemId" class="comic-container" [ngStyle]="comic.containerStyles">
    <div class="scroll-anchor" id="scroll-anchor-{{comic.idSanitized}}"></div>
    <div class="popover"><div>#{{comic.issue}}</div></div>
    <div class="comic" [ngStyle]="comic.styles" [ngClass]="getComicClasses(comic)">
      <div class="panel-left">
        <button (click)="toggleExpandComic(comic)" class="cover-thumbnail" id="expand-{{comic.idSanitized}}">
          <img
            *ngIf="comic.visible"
            [src]="'assets/covers/' + comic.image + '.jpg'"
          >
        </button>
      </div>
    </div>
  </li>
</ol>
<ol class="labels-container">
  <li *ngFor="let label of (isShowReadingOrder ? readingOrderSeriesVolumeLabels : seriesVolumeLabels)" [ngStyle]="label.containerStyles" class="series-volume-label-container">
    <div class="series-volume-label" id="{{label.id}}">{{label.text}}</div>
  </li>
</ol>
<div class="expanded-comic-container" *ngIf="expandedComicId && expandedComicCSS.classes">
  <div class="comic-container expanded" [ngStyle]="isMobile ? null : expandedComic.containerStyles" [ngClass]="expandedComicCSS.containerClasses">
    <div class="comic" [ngStyle]="getComicStyles(expandedComic)" [ngClass]="getComicClasses(expandedComic)">
      <div class="panel-left">
        <span class="cover-thumbnail">
          <button (click)="toggleFullscreen()" class="toggle-full-screen">
            <img [src]="'assets/covers/' + expandedComic.image + '.jpg'">
          </button>
        </span>
        <ol class="pagination" *ngIf="!isMobile">
          <li>
            <button
              (click)="toggleExpandComic(prevCollectionFirstComic)"
              class="button-previous-collection"
              mat-mini-fab
              [disabled]="!prevCollectionFirstComic"
              matTooltip="{{ prevCollection?.title }}"
            >
              <mat-icon>arrow_backward</mat-icon>
            </button>
          </li><!--
          --><li>
            <button
              (click)="toggleExpandComic(prevComic)"
              class="button-previous-comic"
              mat-mini-fab
              [disabled]="!prevComic"
              matTooltip="{{prevComic?.series}} #{{prevComic?.issue}}"
            >
              <mat-icon>chevron_left</mat-icon>
            </button>
          </li><!--
          --><li>
            <button
              (click)="toggleExpandComic(nextComic)"
              class="button-next-comic"
              mat-mini-fab
              [disabled]="!nextComic"
              matTooltip="{{nextComic?.series}} #{{nextComic?.issue}}"
            >
              <mat-icon>chevron_right</mat-icon>
            </button>
          </li><!--
          --><li>
            <button
              (click)="toggleExpandComic(nextCollectionFirstComic)"
              class="button-next-collection"
              mat-mini-fab
              [disabled]="!nextCollectionFirstComic"
              matTooltip="{{nextCollection?.title}}"
            >
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </li>
        </ol>
      </div>
      <div class="expanded-panel">
        <button *ngIf="!isMobile" (click)="toggleExpandComic()" class="right-aligned-button" mat-mini-fab>
          <div class="popover"><div>Close this panel</div></div>
          <mat-icon>close</mat-icon>
        </button>
        <a *ngIf="!isMobile" [ngClass]="{disabled: !expandedComic.link}" class="marvel-unlimited-link" [href]="expandedComic.link">
          <div class="popover"><div>Open in Marvel Unlimited</div></div>
        </a>
        <button *ngIf="!isMobile" (click)="scrollToComic(expandedComic.id)" class="right-aligned-button" mat-mini-fab>
          <div class="popover"><div>Scroll to this comic</div></div>
          <mat-icon>near_me</mat-icon>
        </button>
        <div class="series">
          {{expandedComic.series}} #{{expandedComic.issue}}
        </div>
        <div class="title" *ngFor="let title of expandedComic.titles">{{title}}</div>
        <div class="date">{{expandedComic.yearPublished}} / {{expandedComic.monthPublished}}</div>
        <div class="collection-comics" *ngIf="!isMobile">
          <div class="collection-title">{{expandedComic.collection.title}}:</div>
          <ol>
            <li *ngFor="let collectionComic of expandedComic.collection.allCollectionComics; trackBy: trackByItemId">
              <div class="popover"><div>{{collectionComic.series}} #{{collectionComic.issue}}</div></div>
              <button (click)="toggleExpandComic(collectionComic)">
                <img
                  [ngClass]="{current: collectionComic.id === expandedComicId}"
                  [src]="'assets/covers/' + collectionComic.image + '.jpg'"
                >
              </button>
            </li>
          </ol>
        </div>
      </div>
      <div class="expanded-panel bottom" *ngIf="isMobile">
        <div class="collection-comics">
          <div class="collection-title">{{expandedComic.collection.title}}:</div>
          <ol>
            <li *ngFor="let collectionComic of expandedComic.collection.allCollectionComics; trackBy: trackByItemId">
              <div class="popover"><div>{{collectionComic.series}} #{{collectionComic.issue}}</div></div>
              <button (click)="toggleExpandComic(collectionComic)">
                <img
                  [ngClass]="{current: collectionComic.id === expandedComicId}"
                  [src]="'assets/covers/' + collectionComic.image + '.jpg'"
                >
              </button>
            </li>
          </ol>
        </div>
      </div>
      <ol class="pagination mobile" *ngIf="isMobile">
        <li>
          <button
            (click)="openMarvelUnlimited(expandedComic.link)"
            class="button-open-marvel-unlimited"
            mat-mini-fab
            [disabled]="!expandedComic.link"
            matTooltip="Open in Marvel Unlimited"
          >
            <mat-icon>library_books</mat-icon>
          </button>
        </li><!--
        --><li>
          <button
            (click)="toggleExpandComic(prevCollectionFirstComic)"
            class="button-previous-collection"
            mat-mini-fab
            [disabled]="!prevCollectionFirstComic"
            matTooltip="{{ prevCollection?.title }}"
          >
            <mat-icon>arrow_backward</mat-icon>
          </button>
        </li><!--
        --><li>
          <button
            (click)="toggleExpandComic(prevComic)"
            class="button-previous-comic"
            mat-mini-fab
            [disabled]="!prevComic"
            matTooltip="{{prevComic?.series}} #{{prevComic?.issue}}"
          >
            <mat-icon>chevron_left</mat-icon>
          </button>
        </li><!--
        --><li>
          <button
            (click)="toggleExpandComic(nextComic)"
            class="button-next-comic"
            mat-mini-fab
            [disabled]="!nextComic"
            matTooltip="{{nextComic?.series}} #{{nextComic?.issue}}"
          >
            <mat-icon>chevron_right</mat-icon>
          </button>
        </li><!--
        --><li>
          <button
            (click)="toggleExpandComic(nextCollectionFirstComic)"
            class="button-next-collection"
            mat-mini-fab
            [disabled]="!nextCollectionFirstComic"
            matTooltip="{{nextCollection?.title}}"
          >
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </li><!--
        --><li>
          <button
            (click)="toggleExpandComic()"
            mat-mini-fab
            matTooltip="Close this panel"
          >
            <mat-icon>close</mat-icon>
          </button>
        </li>
      </ol>
    </div>
  </div>
</div>
