<h1 mat-dialog-title>Info & Credits</h1>
<div mat-dialog-content>
  <p>This tool depends on data from others. Some of the most frequent sources of that data are:</p>
  <ul>
    <li>
      <h2><a href="http://notahoaxnotadream.blogspot.co.nz/p/x-men-collected-editions-chart.html">NOT A HOAX! NOT A DREAM!</a></h2>
      We rely on the reviews on this blog to know which order the comics appear in within collections.
    </li>
    <li>
      <h2><a href="http://www.comicsbackissues.com/comic-book-reading-order/x-men-read-order-chronology/#order">Comics Back Issues</a></h2>
      We rely on this to track and order crossovers.
    </li>
    <li>
      <h2><a href="http://www.marvel.com">Marvel</a></h2>
      We rely on the Marvel API to display the link to the online version of the comics.
    </li>
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="" cdkFocusInitial>Close</button>
</div>